/* Fondo del Sidebar en Blanco */
.ant-layout-sider {
    background: #ffffff !important;
    border-right: 1px solid #f0f0f0 !important;
  }
  
  /* Estilos de los ítems del menú */
  .ant-menu {
    background: #ffffff !important;
    border-right: none !important;
  }
  
  /* Color del texto en los elementos normales */
  .ant-menu-item {
    color: #333333 !important;
    font-weight: 500;
  }
  
  /* Color del ícono en elementos normales */
  .ant-menu-item .anticon {
    color: #666666 !important;
  }
  
  /* Estilo cuando pasas el mouse sobre un ítem */
  .ant-menu-item:hover {
    background-color: rgba(255, 77, 79, 0.1) !important;
    border-radius: 8px;
  }
  
  /* Color de selección con efecto sutil */
  .ant-menu-item-selected {
    background-color: rgba(255, 77, 79, 0.2) !important; /* Rojo sutil */
    color: #ff4d4f !important;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  /* Ícono cuando está seleccionado */
  .ant-menu-item-selected .anticon {
    color: #ff4d4f !important;
  }
  
  /* Cuando pasas el cursor sobre el elemento seleccionado */
  .ant-menu-item-selected:hover {
    background-color: rgba(255, 77, 79, 0.3) !important;
  }
  
  /* Evita el color azul en los submenús */
  .ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: #ff4d4f !important;
    font-weight: bold !important;
  }
  
  .ant-menu-submenu-selected > .ant-menu-submenu-title .anticon {
    color: #ff4d4f !important;
  }
  
  /* Submenú desplegado */
  .ant-menu-submenu-open .ant-menu-submenu-title {
    color: #ff4d4f !important;
    font-weight: bold !important;
  }
  
  .ant-menu-submenu-open .ant-menu-submenu-title .anticon {
    color: #ff4d4f !important;
  }
  